<tr>
  <td class="small"><time class="timeago" datetime="<%= session["timestamp"] %>"></time></td>
  <% case session["state"] %>
  <% when "AUTHENTICATED" %>
    <td><span class="badge badge-success"><%= session["state"] %></span></td>
  <% when "DISCONNECTED" %>
    <td><span class="badge badge-warning"><%= session["state"] %></span></td>
  <% when "STARTED" %>
    <td><span class="badge badge-info"><%= session["state"] %></span></td>
  <% else %>
    <td><span class="badge badge-danger"><%= session["state"] %></span></td>
  <% end %>
  <td><%= session["username"] %></td>
  <td><samp><%= session["ipAddresses"].sample if session["ipAddresses"] %></samp></td>
  <td><samp><%= link_to session["callingStationId"], endpoint_path(session["callingStationId"]) %></samp><span class="badge badge-info badge-xs ml-2"><%= Oui.find_by_mac(session["callingStationId"]).vendor %></span></td>
  <td><%= session["nasPortType"] %></td>
  <td><%= session["endpointProfile"] %></td>
  <td><%= session["radiusFlowType"] %></td>
  <td><%= session["ssid"] %></td>
</tr>
