<div class="card">
  <div class="card-header bg-primary text-light">
    Prime Wireless Info
  </div>
  <div class="card-body">
    <table class="table table-hover table-sm table-borderless">
      <tr>
        <td>SSID</td>
        <td><samp><%= @prime_info["ssid"] %></samp> <span class="badge badge-primary ml-2"><%= @prime_info["status"] %></span><span class="badge badge-success ml-2"><%= @prime_info["protocol"] %></span></td>
      </tr>
      <tr>
        <td>Auth Info</td>
        <td><samp><%= @prime_info["policyType"] %> / <%= @prime_info["encryptionCypher"] %></samp></td>
      </tr>
      <tr>
        <td>AP Name</td>
        <td><samp><%= @prime_info["apName"] %></samp></td>
      </tr>
      <tr>
        <td>Location</td>
        <td><samp><%= @prime_info["location"] %></samp></td>
      </tr>
    </table>
  </div>
</div>
