<!-- Let's display the endpoint -->
<!-- MAC Address: <%= @mac_address %> -->
<div class="row mt-4">
  <div class="col-3">
    <%= render_async endpoint_infoblox_path(mac: @mac_address), retry_count: 3, error_message: "<div class='card'><div class='card-header bg-danger text-light'><strong>Infoblox failed to load.</strong></div></div>" do %>
    <div class="card">
      <div class="card-header bg-warning text-dark">
        <i class="fas fa-stroopwafel fa-spin"></i> <strong>Infoblox data is loading...</strong>
      </div>
    </div>
    <% end %>
  </div>

  <div class="col-4">
    <%= render_async endpoint_ise_mnt_path(mac: @mac_address), retry_count: 3, error_message: "<div class='card'><div class='card-header bg-danger text-light'><strong>ISE Session data failed to load.</strong></div></div>" do %>
    <div class="card">
      <div class="card-header bg-warning text-dark">
        <i class="fas fa-stroopwafel fa-spin"></i> <strong>ISE session data is loading...</strong>
      </div>
    </div>
    <% end %>
  </div>

  <div class="col-4">
    <%= render_async endpoint_ise_ers_path(mac: @mac_address), retry_count: 3, error_message: "<div class='card'><div class='card-header bg-danger text-light'><strong>ISE Endpoint data failed to load.</strong></div></div>" do %>
    <div class="card">
      <div class="card-header bg-warning text-dark">
        <i class="fas fa-stroopwafel fa-spin"></i> <strong>ISE endpoint data is loading...</strong>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="row mt-4">
  <div class="col-3">

  </div>
  <div class="col-4">
    <%= render_async endpoint_prime_path(mac: @mac_address), retry_count: 3, error_message: "<div class='card'><div class='card-header bg-danger text-light'><strong>Prime data failed to load.</strong></div></div>" do %>
    <div class="card">
      <div class="card-header bg-warning text-dark">
        <i class="fas fa-stroopwafel fa-spin"></i> <strong>Prime data is loading...</strong>
      </div>
    </div>
    <% end %>
  </div>
</div>
