<div class="mt-4 d-flex justify-content-end">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
<div class="col-6">
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>ACL</th>
      </tr>
      <tbody>
        <% @downloadable_acls.each do |dacl| %>
          <tr>
            <td title="<%= dacl.uuid %>"><samp><%= dacl.name %></samp></td>
            <td><%= dacl.description %></td>
            <td><pre><%= dacl.dacl %></pre></td>
          </tr>
        <% end %>
      </tbody>
    </thead>
  </table>
</div>
