<div class="row mt-4">
  <div class="col-3">
    <div class="card">
      <div class="card-header font-weight-bold">
        helix Status
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-4">ISE PAN</div>
            <div class="col-8"><kbd class="ml-1"><%= Setting["ise"]["pan"] %></kbd></div>
            <div class="col-4">ISE MnT</div>
            <div class="col-8"><kbd class="ml-1"><%= Setting["ise"]["mnt"] %></kbd></div>
          </div>
        </li>
        <li class="list-group-item">
          <%= Session.where(active: true).count %> active sessions tracked
          <time class="timeago badge badge-primary ml-1" datetime="<%=Session.maximum(:updated_at).iso8601%>"></time>
        </li>
        <li class="list-group-item"><%= Endpoint.count %> endpoints tracked in helix</li>
        <li class="list-group-item"><%= link_to "#{EndpointGroup.count} endpoint groups", endpoint_groups_path %> synced</li>
        <li class="list-group-item"><%= link_to "#{AuthorizationProfile.count} authorization profiles", authorization_profiles_path %> synced</li>
        <li class="list-group-item"><%= link_to "#{DownloadableAcl.count} downloadable ACLs", downloadable_acls_path %> synced</li>
        <li class="list-group-item"><%= link_to "#{NetworkDevice.count} network devices", network_devices_path %> synced</li>
        <li class="list-group-item"><%= link_to "#{NetworkDeviceGroup.count} network device groups", network_devices_path %> synced</li>
      </ul>
    </div>
  </div>
</div>
