<div class="mt-4 row">
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-primary text-white">
        Active Directory Settings
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            Domain Controller IP / FQDN
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["ad"]["server"] %></span>
          </div>
          <div class="col-6">
            Domain
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["ad"]["domain"] %></span>
          </div>
          <div class="col-6">
            Base DN
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["ad"]["base"] %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-primary text-white">
        Cisco ISE Settings
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            Policy Admin Node IP / FQDN
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["ise"]["pan"] %></span>
          </div>
          <div class="col-6">
            Monitoring Node IP / FQDN
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["ise"]["mnt"] %></span>
          </div>
          <div class="col-6">
            ERS Username
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["ise"]["ise_username"] %></span>
          </div>
          <div class="col-6">
            ERS Password
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["ise"]["ise_password"] %></span>
          </div>
          <div class="col-6">
            pxGrid Username
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["ise"]["pxgrid_username"] %></span>
          </div>
          <div class="col-6">
            pxGrid Password
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["ise"]["pxgrid_password"] %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-primary text-white">
        Cisco Prime Settings
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            IP Address / FQDN
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["prime"]["server"] %></span>
          </div>
          <div class="col-6">
            Username
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["prime"]["username"] %></span>
          </div>
          <div class="col-6">
            Password
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["prime"]["password"] %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
