<div class="mt-4 row">
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-primary text-white">
        Active Directory Settings
        <div class="badge badge-dark badge-success float-right">
          Enabled
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            Domain Controller IP / FQDN
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["ad"]["server"] %></span>
          </div>
          <div class="col-6">
            Domain
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["ad"]["domain"] %></span>
          </div>
          <div class="col-6">
            Base DN
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["ad"]["base"] %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-primary text-white">
        Cisco ISE Settings
        <div class="badge badge-dark badge-success float-right">
          Enabled
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            Policy Admin Node IP / FQDN
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["ise"]["pan"] %></span>
          </div>
          <div class="col-6">
            Monitoring Node IP / FQDN
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["ise"]["mnt"] %></span>
          </div>
          <div class="col-6">
            ERS Username
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["ise"]["ise_username"] %></span>
          </div>
          <div class="col-6">
            ERS Password
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["ise"]["ise_password"].clear %></span>
          </div>
          <div class="col-6">
            pxGrid Username
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["ise"]["pxgrid_username"] %></span>
          </div>
          <div class="col-6">
            pxGrid Password
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["ise"]["pxgrid_password"].clear %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-primary text-white">
        Cisco Prime Settings
        <div class="badge badge-dark badge-success float-right">
          Enabled
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            IP Address / FQDN
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["prime"]["server"] %></span>
          </div>
          <div class="col-6">
            Username
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["prime"]["username"] %></span>
          </div>
          <div class="col-6">
            Password
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["prime"]["password"].clear %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-2 row">
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-primary text-white">
        Infoblox IPAM Settings
        <div class="badge badge-dark badge-success float-right">
          Enabled
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            Grid Master
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["infoblox"]["server"] %></span>
          </div>
          <div class="col-6">
            Username
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["infoblox"]["username"] %></span>
          </div>
          <div class="col-6">
            Password
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["infoblox"]["password"].clear %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-primary text-white">
        Device SSH Settings
        <div class="badge badge-dark badge-success float-right">
          In-Progress
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            Username
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["ssh"]["username"] %></span>
          </div>
          <div class="col-6">
            Password
          </div>
          <div class="col-6">
            <span class="editable"><%= Setting["ssh"]["password"].clear %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
