<div class="row mt-4">
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-primary text-white">
        Network Device Details
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-4">UUID</div>
          <div class="col-8"><samp><%= @network_device.uuid %></samp></div>
          <div class="col-4">Name</div>
          <div class="col-8"><%= @network_device.name %></div>
          <div class="col-4">Description</div>
          <div class="col-8"><span class="editable" data-update="<%= network_device_path(@network_device) %>" data-param="description" data-id="<%= @network_device.id %>"><%= @network_device.description %></span></div>
          <div class="col-4">IP Address</div>
          <div class="col-8"><%= @network_device.ip_address %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-primary text-white">
        Device Groups
      </div>
      <div class="card-body">
        <% @network_device.network_device_groups.each do |group| %>
          <samp><%= link_to group.name.gsub("#", " > "), network_device_group_path(group) %></samp><br/>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-2">
      <%= link_to "SSH to device", "ssh://#{@network_device.ip_address}", class: "btn btn-primary btn-sm" %>
      <%= link_to "Running Config", network_device_running_config_path(@network_device), class: "btn btn-primary btn-sm", target: "_blank" %>
  </div>
</div>
<% if @config %>
<div class="row mt-2">
  <div class="col-4">
    <div class="list-group" id="interface-analyzer" role="tablist">
      <input class="list-group-item mb-2" id="int-list-filter" type="text" placeholder="Filter Interface">
      <a class="list-group-item list-group-item-action active" id="list-int-summary" data-toggle="list" href="#int-summary" role="tab" aria-controls="int-summary">Summary</a>
      <% @config.find_objects("^interface").each do |interface| %>
        <a class="list-group-item list-group-item-action interface" id="list-int-<%= interface.name.parameterize %>" data-toggle="list" href="#int-<%= interface.name.parameterize %>" role="tab" aria-controls="int-<%= interface.name.parameterize %>">
          <span><%= interface.name %></span>
          <br />
          <small class="text-small"><%= interface.description %></small>
          <% if interface.has_manual_switch_trunk %>
            <span class="badge badge-secondary mr-1 float-right">TRUNK</span>
          <% end %>
          <% if interface.in_portchannel %>
            <span class="badge badge-info mr-1 float-right">IN PORTCHANNEL</span>
          <% end %>
          <% if interface.is_shutdown %>
            <span class="badge badge-warning mr-1 float-right">SHUTDOWN</span>
          <% end %>
        </a>
      <% end %>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="int-summary" role="tabpanel" aria-labelledby="list-int-summary">...</div>
      <% @config.find_objects("^interface").each do |interface| %>
        <div class="tab-pane fade" id="int-<%= interface.name.parameterize %>" role="tabpanel" aria-labelledby="list-int-<%= interface.name.parameterize %>">
          <samp>
            <strong><%= interface.name %></strong>
            <% interface.children.each do |int_cfg| %>
              <br /><%= int_cfg.text %>
            <% end %>
          </samp>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
