<!DOCTYPE html>
<html>
  <head>
    <title>Isebox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js" integrity="sha256-VeNaFBVDhoX3H+gJ37DpT/nTuZTdjYro9yBruHjVmoQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.4.10/jquery.autocomplete.min.js" integrity="sha256-xv9tRiSlyBQMvBkQeqNyojOQf45uTVXQAtIMrmgqV18=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/3.0.2/timeago.min.js" integrity="sha256-jwCP0NAdCBloaIWTWHmW4i3snUNMHUNO+jr9rYd2iOI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js" integrity="sha256-FiZwavyI2V6+EXO1U+xzLG3IKldpiTFf3153ea9zikQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jeditable.js/2.0.13/jquery.jeditable.min.js" integrity="sha256-6G0dyuhbfG8CwLwLVfv5IYFwbUndDF9+WDRQpXp7YFE=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand font-weight-bold" href="/" data-turbolinks="false">ISEbox</a>
      <ul class="navbar-nav ml-auto mr-4 text-light">
        <%= link_to "Login", login_path, class: "nav-item btn btn-sm btn-primary ml-2", data: { turbolinks: false } unless current_user %>
      </ul>
    </nav>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <div class="footer" style="position: absolute; display: block; width: 100%; line-height: 25px; bottom: 0px; background: #403866; color: #ffffff; text-align: right; padding: 5px 20px; font-weight: 700;">
      ISEbox v0.1.6
      &nbsp;&nbsp;&middot;&nbsp;&nbsp;
      &copy; 2019
      &nbsp;&nbsp;&middot;&nbsp;&nbsp;
      <i class="fab fa-github"></i> <a href="https://github.com/abhid/isebox" target="_blank" style="color: inherit;">abhid/isebox</a>
      &nbsp;&nbsp;&middot;&nbsp;&nbsp;
      <i class="fas fa-code"></i> <a href="https://github.com/abhid/isebox" target="_blank" style="color: inherit;">Contributors</a>
      &nbsp;&nbsp;&middot;&nbsp;&nbsp;
      <i class="fas fa-heart"></i> <a href="https://github.com/abhid/isebox" target="_blank" style="color: inherit;">Report a bug</a>
    </div>
  </body>
</html>
